body {
  color: black;
  font-size: 0.9em;
  font-family: sans-serif;
  margin: 0px;
  border: 0px;
}

h1 {
  color: #039;
  font-family: sans-serif;
  line-height: 1;
  font-size: 1.6em;
  margin-bottom: 12px;
}

h2 {
  color: #039;
  font-family: sans-serif;
  line-height: 1;
  font-style: italic;
  font-size: 1.4em;
  margin-bottom: 12px;
}

h2.subhead {
  color: #039;
  font-family: sans-serif;
  line-height: 1;
  font-weight: normal;
  color: #999;
  margin: -9px 0 12px 0;
}

h3 {
  color: #039;
  font-family: sans-serif;
  line-height: 1;
  font-size: 1.2em;
  margin-bottom: 12px;
}

h4 {
  color: #039;
  font-family: sans-serif;
  line-height: 1;
  font-size: 1.1em;
  font-style: italic;
  margin-bottom: 12px;
}

h5 {
  color: #039;
  font-family: sans-serif;
  line-height: 1;
  font-size: 1em;
  margin-bottom: 12px;
}

h6 {
  font-family: sans-serif;
  line-height: 1;
  font-size: 1em;
  font-style: italic;
  margin-bottom: 12px;
}

th,td {
  vertical-align: top;
  word-wrap: break-word;
}

td p:first-child {
  margin-top: 0px;
}

td p:last-child {
  margin-bottom: 0px;
}

td.actions form {
  display: inline;
  margin-right: 0.5em;
}

div.body {
  margin: 0px auto 0px auto;
}

div.error {
  color: red;
  font-weight: bold;
}

div.bodyContainer {
  margin: 0px 10px 10px 0px;
}

div.bodyContent {
  margin: 0px 0px 0px 14.5em;
}

div.header {
  background-color: #a2c8ff;
  border: 2px solid #6699CC;
  color: #0046a0;
  padding: 5px 10px 5px 10px;
  margin-bottom: 0.5em;
}

div.headerContent {
  
}

div.columns {
  float: left;
  padding-bottom: 1px;
  width: 100%;
}

div.breadcrumbs {
  
}

div.breadcrumb {
  margin-left: 13.5em;
  padding: 1px 2px 1px 2px;
}

div.breadcrumb ul {
  font-size: 0.8em;
  list-style: none;
  margin: 0px;
  margin-bottom: 3px;
  padding: 0px;
}

div.breadcrumb ul li {
  display: inline;
  color: #999999;
  font-size: 0.9em;
}

div.breadcrumb ul li a {
  color: #999999;
  padding-right: 1.5em;
  background-image: url(../images/crumbs.gif);
  background-position: top right;
  background-repeat: no-repeat;
}

div.breadcrumb ul li a:hover {
  text-decoration: underline;
}

div.footer {
  clear: both;
  margin-top: 1em;
  border-top: 1px solid #999999;
  padding: 1px 2px 1px 2px;
  color: #999999;
  font-size: 0.8em;
}


div.header div.title {
  font-size: 2em;
}

input.submit {
  background-color: #a2c8ff;
  border: 2px outset #6699CC;
  color: black;
  font-weight: bold;
  margin-right: 3px;
  padding: 2px 3px 2px 3px;
  text-decoration: none;
  white-space: nowrap;
}

input.submit:hover {
  text-decoration: underline;
}

div.actionMenu {
  margin: 0px;
  padding: 0.4em 0px 0px 0px;
  clear: both;
}

div.actionMenu ul {
  margin: 0px;
  list-style: none outside none;
  padding: 0px;
}

div.actionMenu ul li {
  display: inline;
}

div.actionMenu ul li a {
  white-space: nowrap;
}

div.form > form > div > div.objectList {
  border-left-width: 0px;
  border-right-width: 0px;
}

div.form > form > div > div.objectList > table.data {
  border-left-width: 0px;
  border-right-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

div.table div.title {
  color: #039;
  font-family: sans-serif;
  line-height: 1;
  font-size: 1.6em;
  margin-bottom: 12px;
}

div.form > form > div.objectView > table.data {
  border-width: 0px;
  padding: 0px;
}

div.objectView {
  border: 1px solid #666666;
  width: auto;
}

div.objectView > table.data {
  border: 2px solid #6699CC;
  padding: 1px;
  width: 100%;
}

div.objectView > table.data > tbody > tr > th {
  background-color: #a2c8ff;
  border-bottom: 1px solid white;
  padding: 3px 4px 3px 4px;
  text-align: left;
}

div.objectView > table.data > tbody > tr > td {
  border-bottom: 1px solid #cccccc;
  padding: 3px 4px 3px 4px;
}

div.objectView > table.data > tbody > tr.even > td {
  background-color: #eeeeee;
}

div.objectView > table.data > tbody > tr.lastRow > th,div.objectView > table.data > tbody > tr.lastRow > td
  {
  border-bottom-width: 0px;
}

div.pager {
  
}

div.pager table {
  width: 100%;
}

div.pager td {
  padding: 2px 4px;
  vertical-align: middle;
}

div.pager td.first,div.pager td.previous,div.pager td.next,div.pager td.last {
  padding: 0px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 2.2em;
}

div.pager td.first a,div.pager td.previous a,div.pager td.next a,div.pager td.last a {
  display: block;
  text-decoration: none;
  overflow: hidden;
}

div.pager span.selected {
  font-weight: bold;
}

div.pager td.pages {
  text-align: center;
  min-width: 15em;
}

div.pager a {
  color: #999999;
}

div.sideNav {
  margin: 0px 1em 1em 1em;
  border: 2px solid #6699CC;
  padding: 1px;
  float: left;
  width: 12em;
}

div.sideMenu {
  padding: 0px;
}

div.sideMenu div.title {
  background-color: #a2c8ff;
  color: #0046a0;
  font-size: 1.1em;
  font-weight: bold;
  padding: 2px 3px 1px 3px;
}

div.sideMenu div.title a {
  color: #000000;
  text-decoration: none;
}

div.sideMenu ul {
  list-style: none;
  margin: 0px;
  padding: 1px;
}

div.sideMenu ul li:nth-of-type(even) {
  background-color: #eeeeee;
}

div.sideMenu ul li {
  padding: 2px 3px 1px 3px;
}

div.sideMenu ul li a {
  color: #000000;
  text-decoration: none;
}

div.sideMenu ul li a:hover {
  text-decoration: underline;
}

input.submit {
  background-color: #a2c8ff;
  border: 2px outset #6699CC;
  color: black;
  font-weight: bold;
  margin-right: 3px;
  padding: 2px 3px 2px 3px;
  text-decoration: none;
  white-space: nowrap;
}

input.submit:hover {
  text-decoration: underline;
}

form dl dt {
  font-weight: bold;
}

form dl dd div.fieldDescription {
  font-size: 0.8em;
  color: #999999;
}

div.form {
  border: 1px solid #666666;
}

div.form > div {
  margin: 0px;
  height: auto;
  padding: 0px;
}

div.form > form > div {
  margin: 0px;
  height: auto;
  border: 2px solid #6699CC;
  padding: 1px;
}

div.form div.field {
  margin: 0px;
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  overflow: hidden;
  width: 100%;
  background-color: #a2c8ff;
}

div.form div.field div.label {
  width: 14em;
  height: 100%;
  float: left;
  font-weight: bold;
  text-align: left;
  margin: 0px;
  padding-left: 10px;
  border-top: 1px solid white;
  padding: 2px 4px 2px 4px;
  text-align: right;
  vertical-align: top;
}

div.form div.field div.label label {
  
}

div.form div:nth-of-type(1).field > div.label,div.form div:nth-of-type(1).field > div.contents
  {
  border-top-width: 0px;
}

div.form div.field div.contents {
  border-top: 1px solid #cccccc;
  margin-left: 14.8em;
  padding: 2px 4px 2px 4px;
  background-color: white;
}

div.form div:nth-of-type(even).field > div.contents {
  background-color: #eeeeee;
}

div.instructions {
  color: #999999;
}

div.invalid {
  background-color: pink;
}

div.form div.field div.instructions {
  clear: both;
  margin-left: 14.8em;
  padding: 2px 4px 2px 4px;
  background-color: white;
}

div.form div:nth-of-type(even).field > div.instructions {
  background-color: #eeeeee;
  color: #666666;
}

div.form div.field div.errors {
  clear: both;
  color: red;
  font-weight: bold;
  margin-left: 14.8em;
  padding: 2px 4px 2px 4px;
  background-color: white;
}

div.form div:nth-of-type(even).field > div.errors {
  background-color: #eeeeee;
}

div.form div.field div.fieldActions {
  margin-bottom: 7px;
}

div.form div.field div.fieldActions a {
  color: #666666;
  font-size: 10px;
}

div.form div.required {
  background: url(../images/asterisk.gif) no-repeat 3px 5px;
  padding-left: 10px;
}

.labelAboveNoPadding {
  font-weight: bold;
  padding-left: 1em;
  padding-top: 3px;
}

div.jqueryTabs > div > iframe {
  margin: 0px;
  width: 100%;
  border: 0px;
  padding: 0px;
  height: 0px;
}

div.autocomplete {
  border: 1px solid #808080;
  background-color: #FFFFFF;
  width: 15em;
}

div.autocomplete ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

div.autocomplete ul li.selected {
  background-color: #ffb;
}

div.autocomplete ul li {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 2px;
  cursor: pointer;
}

button.ui-button-icon-only {
  height: 1.8em;
  width: 1.8em;
}

.ui-button span.ui-button-text {
  line-height: 1.2em;
}

input.ui-button,
.ui-button-text-only span.ui-button-text {
  line-height: 1.2em;
  padding: 0.2em 0.4em;
}

table.dataTable thead th,
table.dataTable tbody td {
  padding: 0.2em 0.4em 0.2em 0.4em;  
}

div.ui-accordion {
  margin-bottom: 1em;
}

div.ui-accordion div.section {
  margin: 2px 0px 0px 0px;
  border-top: 2px solid #6699CC;
  padding: 2px 5px 0px 5px;
}

div.ui-accordion > div.ui-accordion-content {
  padding: 0.3em;
}

div.ui-accordion > div.ui-accordion-content > div.form {
  border-width: 0px;
}

div.ui-accordion > div.ui-accordion-content > div.form > form > div {
  border-width: 0px;
}

div.ui-accordion > div.ui-accordion-content > div.objectList {
  border-width: 0px;
}

div.ui-accordion > div.ui-accordion-content > div.objectList > table.data {
  border-width: 0px;
  padding: 0px;
}

div.ui-accordion > div.ui-accordion-content > div.objectView {
  border-width: 0px;
}

div.ui-accordion > div.ui-accordion-content > div.objectView > table.data {
  border-width: 1px;
  padding: 0px;
}

div.ui-accordion > div.ui-accordion-content > iframe {
  margin: 0px;
  width: 100%;
  border: 0px;
  padding: 0px;
  height: 0%;
}

html.collapsibleBox {
  margin: 0px;
}

html.collapsibleBox > body {
  margin: 0px;
}

html.collapsibleBox > body > div.form {
  border-width: 0px;
}

html.collapsibleBox > body > div.form > form > div {
  border-width: 0px;
}

html.collapsibleBox > body > div.ui-accordion {
  border-width: 0px;
  margin: 0px;
}

html.collapsibleBox > body > div.ui-accordion > h3 {
  display: none;
}

html.collapsibleBox > body > div.ui-accordion > div.ui-accordion-content {
  border-width: 0px;
  overflow: visible;
}